body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url(imagens/espanhol_.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #333;
}

header {
  background: #d32f2f;
  color: yellow;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 20px;
}

button {
  background: #d32f2f;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #d32f2f;
}

footer {
  text-align: center;
  padding: 15px;
  background: #222;
  color: white;
  margin-top: 20px;
}

.About{
  background-size: 10px;
  background-color: burlywood;
  border-radius: 5px;
  text-align-last: center;
  
}

